body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.tickercontainer {}

.tickercontainer .mask {
    background: #0d345f;
    border: none;
    padding: 15px 15px;
    border-radius: 0px;
    overflow: hidden;
    margin: 40px 20px;
}

ul.newsticker {
    transition-timing-function: linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    transition: all 0s linear;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    float: left;
}

ul.newsticker li {
    display: inline-block;
    margin: 0 20px;
}

.newsticker li div.user {
    font-size: 13px;
}

.newsticker li div.user a {
    color: #8dcaea;
}

.newsticker img {
    display: none;
}

span[data-scribe="element:screen_name"] {
    display: none;
}


/*span[data-scribe="element:name"] {
    display: none;
}*/

span[data-scribe="element:verified_badge"] {
    display: none;
}

.interact, .timePosted {
    display: none;
}

p.tweet {
    margin: 2px 0;
    padding: 0;
}

.tickeroverlay-left, .tickeroverlay-right {
    display: none;
}

.btn {
    border: 2px solid #0d345f;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px 0;
    display: inline-block;
    margin: 15px 15px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    width: 200px;
    background: #fff;
    color: #0d345f;
    border-radius: 2px;
}

.btn:hover {
    background: #0d345f;
    color: #fff;
}

.button>section {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.button a {
    color: #0d345f;
    text-decoration: underline;
}

.button a:hover {
    text-decoration: none;
}
